$blue: #3190e8;
$bc: #e4e4e4;
$fc: #fff;

// 背景图片地址和大小
@mixin bis($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

// 定位全屏
@mixin allcover {
  position: absolute;
  top: 0;
  right: 0;
}

// 定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 定位上下居中
@mixin ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// 定位左右居中
@mixin cl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// 宽高
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

// 字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
  font: #{$size}/#{$line-height} $family;
}

// 字体大小，颜色
@mixin sc($size, $color) {
  font-size: $size;
  color: $color;
}

// flex 布局和 子元素 对其方式
@mixin fj($type: space-between) {
  display: flex;
  justify-content: $type;

}

@mixin css-var(
  $text,
  $text-reversal,
  $text-nav,
  $header-bg,
  $text-secondary,
  $primary,
  $link-bg,
  $body-bg,
  $module-bg,
  $border
) {
  #{--body-bg}: $body-bg;
  #{--text}: $text;
  #{--text-reversal}: $text-reversal;
  #{--text-nav}: $text-nav;
  #{--text-secondary}: $text-secondary;
  #{--primary}: $primary;
  #{--header-bg}: $header-bg;
  #{--link-bg}: $link-bg;
  #{--module-bg}: $module-bg;
  #{--border}: $border;
  #{--bg-reversal-opacity-9}: rgba($text, 0.9);
}

#root-body {
  &.light {
    @include css-var(
            $text: #333,
            $text-reversal: #fff,
            $text-nav: #5d5d5d,
            $text-secondary: #888,
            $primary: #d23931,
              //active
            $link-bg: #f34d3f,
            $header-bg: #da3d34,
            $body-bg: #f0f0f0,
            $module-bg: #fff,
            $border: #ccc
    );
  }

  &.dark {
    @include css-var(
            $text: #fff,
            $text-reversal: #333,
            $text-nav: #d7d7d7,
            $text-secondary: #ccc,
            $primary: #f1423d,
            $link-bg: #414141,
            $header-bg: #414141,
            $body-bg: #262626,
            $module-bg: #2c2c2c,
            $border: #4e4a4a
    );
  }
}